/* 
I stole this css from the extensions options page. 
I'm slowly cleaning it up and adding in scss
*/
$orange: #FA4940;

* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
	font-weight: 300;
}

*:before,
*:after {
	box-sizing: border-box;
}

html,
body,
#app-react-container {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

body {
	background-image: radial-gradient(#f5fffa 0%, gray 100%);
	padding-top: 35px;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 90%;
	height: 90%;
	margin: 0 auto;
	border-radius: 4px;
	border: solid 1px rgba(0, 0, 0, 0.6);
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	position: relative;
}

.inner-wrapper {
	height: calc(100% - 52px);
	width: 100%;
	padding: 16px;
	overflow-y: auto;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
	position: relative;
}

.header {
	height: 48px;
	font-weight: 400;
	font-size: 1.1rem;
	background-repeat: no-repeat;
	background-position: center center;
}

.header .menu {
	float: right;
	line-height: 48px;
	padding-right: 24px;
}

.header .menu .pop-button {
	float: left;
}
.pop-button {
	position: relative;
	padding: 3px 10px;
	margin: 4px;
	border-radius: 6px;
	font-size: 1.2rem;
	color: #efefef;
	line-height: 1.5em;
	text-decoration: none;
	transition-property: transform, border-bottom;
	transition-duration: 40ms;
	transition-timing-function: linear;
	background-color: $orange;
	border-bottom: 5px solid darken($orange, 20%);
	&.blue,&.active {
		background-color: #3498DB;
		border-bottom: 5px solid #2980B9;
	}
	&.green {
		background-color: #82BF56;
		border-bottom: 5px solid #669644;
	}
	&.yellow {
		background-color: #F2CF66;
		border-bottom: 5px solid #D1B358;
	}
	&:active,&.active {
		transform: translate(0px, 5px);
		color: #efefef;
		border-bottom: 1px solid; 
	}
	&:hover {
	color: #cecece;
	}
}


.table {
	margin-top: 18px;
	width: 100%;
}

.table table {
	width: 100%;
	border-collapse: collapse;
}

.table th {
	font-weight: 400;
}

.table td,
.table th {
	text-align: left;
	text-indent: 4px;
	padding: 4px 0;
	border-bottom: 1px solid #ccc;
}

.table tbody {
	position: relative;
}

.table tbody td {
	transition: background-color 120ms ease-out;
	padding: 1px 3px;
	// white-space: nowrap;
}

.table tbody tr:hover td {
	background-color: #fffde0;
}

.table tbody tr.hasUpdated td {
	background-color: #ff9191;
}

.table tbody tr:nth-child(even) {
	background-color: #ededed;
}

.table tbody:empty::after {
	position: absolute;
	left: 0;
	right: 0;
	padding-top: 64px;
	content: 'there is nothing to see here.';
	text-align: center;
}

.inner-wrapper .footnote {
	position: absolute;
	bottom: 4px;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
	display: none;
}

[type="checkbox"] + label {
	display: inline-block;
	cursor: pointer;
	height: 14px;
	width: 14px;
	background: white;
	color: white;
	border: 1px solid #888;
	transition: 100ms all ease-out;
	position: relative;
	top: 2px;
}

[type="checkbox"]:checked + label {
	background-color: $orange;
	border: 1px solid $orange;
}

[type="checkbox"]:checked + label::after {
	position: absolute;
	top: -3px;
	left: -4px;
	content: '\2713';
}

.table tbody tr.hasUpdated [type="checkbox"] + label::after {
	position: absolute;
	top: -9px;
	right: -26px;
	font-size: 26px;
	color: $orange;
	content: '\26A0';
}

.form {

	.control {

		margin: 0.6rem 0;

		h3 {
			font-weight: 600;
			font-size: 1.4rem;
		}

		input,
		textarea {
			width: 300px;
			vertical-align: bottom;
			border: 1px solid #cecece;
			padding: 1px 2px;
		}

		label { 
			display: inline-block;
			width: 120px;
			vertical-align: top;
		}

		.save {
			float: right;
		}
	}
}

.pagination {
	list-style: none;
	li {
		display: inline-block;
		padding: 2px 4px;
		&.active {
			border-bottom: 1px solid $orange;
		}
	}
}